@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'Aleo';
  src: url('../fonts/Aleo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  color: var(--foreground);
  margin: 0;
  padding: 0;
  height: 100vh;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(to bottom right, orange, red); */
  background: #202020;
  background-attachment: fixed;
}

.container {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
}

h1 {
  font-size: 8vw;
  font-family: Aleo;
  color: transparent;
  margin: 0;
  background: linear-gradient(to bottom right, red, orange);
	background-clip: text;
}

.portrait-bg {
  size: 50vw;
  background: linear-gradient(to bottom right, red, orange);
}

.intro{
  font-family: Aleo;
  color: white;
}

.intro-section{
  height: 100vh;
}

.sub-intro-section{
  height: 95vh;
}